@use "../styles/colors" as c;


.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 1em;

    padding: 1em 0;
}


.card {
    color: white;
    background-image: linear-gradient(100deg, c.$secondary-bg 33%, c.$secondary);
    border-radius: 2em;

    padding: 1.5em;

    height: 10em;
    width: 10em;

    transition: transform 0.3s, box-shadow 0.1s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 0 0.75em 0 rgba(255, 255, 255, 0.25);
    }
}
