@use "../styles/colors" as c;


.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 2em;

    padding: 1em;
}


.card {
    color: white;
    background-color: c.$secondary-bg;

    border-left: 10px solid c.$border-card;
    border-radius: 2em;

    padding: 1.5em;

    height: 10em;
    width: 10em;

    transition: transform 0.3s, box-shadow 0.1s;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 1em 0 rgba(255, 255, 255, 0.5);
    }
}
