@use "../styles/variables" as *;
@use "../styles/colors" as c;


footer {
    min-height: 5em;

    background-color: c.$content-bg;

    & .footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 3em;

        & > * {
            flex: 0 0 auto;

            & .title {
                font-size: 1.5em;
            }

            & ul {
                list-style-type: none;
                padding-left: 0;
            }
        }

        & .credits {
            flex: 1;
            align-self: flex-end;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: stretch;
            gap: 0.75em;

            & img {
                height: 2.5em;
            }
        }
    }
}
