@use "../styles/variables" as *;
@use "../styles/colors" as c;


header {
    background-color: c.$content-bg;

    & .content-width {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .title {
        color: white;
        font-size: 2em;
        font-weight: bold;

        margin: 0.5em 0;
    }

    & .credits {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 0.75em;

        & img {
            height: 1.5em;
        }
    }
}
