@use "../styles/variables" as *;
@use "../styles/colors" as c;


header {
    background-color: c.$content-bg;

    & .content-width {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
