@use "../styles/colors" as c;


.video-container {
    border-radius: 0.5em;

    box-sizing: border-box;
    width: 100%;
    padding: 1em;

    background-color: c.$secondary-bg;

    & figure {
        margin: 0;
    }

    & video {
        // Kind of a hack to remove the gap between the video and its controls.
        // Should not be a thing if a figure is properly removed, I think.
        // In any case, the problem is in `inline` which respects whitespace which can create gaps.
        display: block;

        box-sizing: border-box;
        border: 1px solid c.$primary-bg;

        max-width: 100%;
        max-height: 100vh;
        max-height: 100svh; // Limit to small viewport height for devices with dynamic viewports

        width: 100%;
    }

    & .video-controls {
        display: grid;

        grid-template-columns: auto auto 1fr auto auto auto;
        grid-template-areas: "start-stop mute . channel quality fullscreen";

        gap: 1em;
        padding: 0.25em;

        background-color: c.$primary-bg;

        & > * {
            grid-row: 1;

            border: none;
            border-radius: 0.2em;

            color: white;
            background-color: c.$secondary;
        }

        & button.start-stop {
            grid-area: start-stop;
        }

        & button.mute, & button.unmute {
            grid-area: mute;
        }

        & select {
            min-width: 4em;
        }

        & select.channel {
            grid-area: channel;
        }

        & select.quality {
            grid-area: quality;
        }

        & button.fullscreen {
            grid-area: fullscreen;
        }
    }
}
