@use "../styles/colors" as c;




.video-container {
    border-radius: 0.5em;

    background-color: c.$secondary-bg;

    align-self: center;

    width: 100%;

    & video {
        border: 1px solid c.$border;

        max-width: 100%;
        max-height: 100vh;
        max-height: 100svh; // Limit to small viewport height for devices with dynamic viewports

        width: 100%;
    }

    & .video-controls {
        display: grid;

        grid-template-columns: auto 1fr auto auto auto;
        $start-stop: 1;
        $angle: 3;
        $quality: 4;
        $fullscreen: 5;

        gap: 1em;

        & > * {
            grid-row: 1;
        }

        & button.start-stop {
            grid-column: $start-stop;
        }

        & select.angle {
            grid-column: $angle;
        }

        & select.quality {
            grid-column: $quality;
        }

        & button.fullscreen {
            grid-column: $fullscreen;
        }
    }
}
