@use "../styles/colors" as c;




.video-container {
    border-radius: 0.5em;

    background-color: c.$secondary-bg;

    & video {
        border: 1px solid c.$border;

        width: 100%;
        aspect-ratio: 16 / 9;
    }
}
