body
  --colour-primary: #E2E2E2
  --colour-background: #0E1118
  --colour-contentbg: #0D2847
  --colour-secondary: #0E56AB
  --colour-secondary-bg: rgba(14, 86, 171, 0.8)

  background-color: var(--colour-background)

  margin: 0
  font-family: Montserrat, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


h2
  color: var(--colour-primary)
  font-size: 2rem
  font-weight: 700
