.kaput
    display: flex
    color: var(--colour-primary)
    flex-direction: column
    gap: 0.2em
    font-size: 3em
    font-weight: bold
    width: 100vw
    height: 100vh
    align-items: center
    justify-content: center
    user-select: none
