.portStatus
  display: flex
  flex-direction: column

  align-items: center
  h3
    margin: 0

  &.connected
    color: #009f00
    g
      fill: #009f00

  &.disconnected
    color: grey
    g
      fill: grey

.portStatusList
  display: flex
  gap: 1em
