@keyframes pulsate
  0%, 100%
    filter: brightness(100%)

  50%
    filter: brightness(170%)


.portStatus
  display: flex
  flex-direction: column
  user-select: none

  align-items: center
  h3
    margin: 0

  &.streaming
    animation: pulsate 2s infinite
    color: var(--colour-secondary)
    g
      fill: var(--colour-secondary)

  &.connected
    color: #009f00
    g
      fill: #009f00

  &.disconnected
    color: grey
    g
      fill: grey

.portStatusList
  display: flex
  gap: 1em
