.modalBg
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  backdrop-filter: blur(10px)
  display: flex
  justify-content: center
  align-items: center

.modal
  border-radius: 1em
  padding: 0.5em
  display: flex
  flex-direction: column
  background-color: var(--colour-secondary-bg)
  max-height: 80%
  min-width: 40%
  overflow-y: auto

  h2
    margin-top: 0
