@use "../../styles/colors" as c;

$margin: 0.25em;

nav.path-container {
    margin-bottom: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    gap: $margin;

    & .path a {
        padding: $margin / 2 $margin;

        transition: text-decoration 0.2s;

        &:hover {
            text-decoration: underline;
        }
    }

    // Make the last link not look like a link because it's the current page
    & :last-child a {
        color: c.$primary;

        &:hover {
            text-decoration: none;
        }
    }

    // Add a separator between each path component
    & :not(:first-child)::before {
        content: "/";

        padding-right: $margin;

        text-decoration: none;
        color: c.$border;

        // Note:
        // If the font size is changed, then the height of the nav will differ
        // between Home and any other pages because of the separator presence on other pages.
    }

}
