@use "../../styles/colors" as c;

$margin: 0.5em;

nav.path-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    gap: $margin;

    padding: 0 $margin * 2;
    background-color: c.$secondary-bg;
    border-radius: $margin;

    & > .separator {
        color: c.$border;
        font-size: 2em;
    }

    & > a {
        background-color: c.$content-bg;

        padding: $margin / 2 $margin;
        border-radius: $margin / 2;

        transition: box-shadow 0.1s;

        &:hover {
            // Some glowing
            box-shadow: 0 0 1em 0 rgba(255, 255, 255, 0.5);
        }
    }
}
