@use "../../styles/colors" as c;

$margin: 0.25em;

nav.path-container {
    margin-bottom: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    gap: $margin;

    & > .separator {
        color: c.$border;
        font-size: 1.3em;
    }

    & > a {
        padding: $margin / 2 $margin;

        transition: text-decoration 0.2s;

        &:hover {
            text-decoration: underline;
        }
    }

    & :last-child {
        color: c.$primary;

        &:hover {
            text-decoration: none;
        }
    }
}
