@use "styles/variables" as *;
@use "styles/colors" as c;

/*
    Global overrides
*/

body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;

    color: c.$primary;
    background-color: c.$primary-bg;

    &.debug * {
        outline: 1px dashed grey;
    }
}


a {
    color: c.$link;
    text-decoration: none;

    &:visited {
        color: c.$link-visited;
    }

    &:hover {
       color: c.$link-hover;
    }

    &:active {
        color: c.$link-active;
    }
}

/*
    Layout
*/

// React root
#root {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-height: 100dvh; // For browsers that support this.

    & main {
        flex: 1;
        padding: 2em 1em;
    }

    & > * {
        padding: 1em;
    }
}

// Limit the width of the content and center it.
.content-width {
    margin: 0 auto;
    max-width: $content-width;
}
