@use "styles/variables" as *;

/*
    Global overrides
*/

body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;

    &.debug * {
        outline: 1px dashed grey;
    }
}


a {
    color: #0000cf;
    text-decoration: none;

    &:hover {
        color: #7f7fff;
    }
}

/*
    Layout
*/

// React root
#root {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-height: 100dvh; // For browsers that support this.

    & main {
        flex: 1;
    }

    & > * {
        padding: 0.5em;
    }
}

// Limit the width of the content and center it.
.content-width {
    margin: 0 auto;
    max-width: $content-width;
}
